* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  font-family: "Century Gothic", sans-serif;
}

.App {
  background: Linear-Gradient(to right, #5e1aff, #d400ff);
}

.home, .reports, .products, .teams, .messages, .support {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

p{
  letter-spacing: 5px;
  margin: 1rem 0;
}

.color-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-group > input[type="color"] {
  margin: 0 .5rem;
  border: none;
  background: none !important;
  color: #fff;
  width: 30px;
  height: 30px;
}

